<div [class]="'theme-wrapper ' + (theme$ | async)">

  <mat-sidenav-container>

    <div class="wrapper">

      <iics-toolbar></iics-toolbar>

      <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.data && o.activatedRoute.routeConfig.data.title">
        <router-outlet #o="outlet"></router-outlet>
      </div>

      <iics-footer></iics-footer>

    </div>

  </mat-sidenav-container>

</div>
