<div class="widget">
  <button mat-icon-button (click)="shrink(widgetData)">
    <mat-icon>
      <fa-icon icon="chevron-circle-left"></fa-icon>
    </mat-icon>
  </button>
  <button mat-icon-button (click)="grow(widgetData)">
    <mat-icon>
      <fa-icon icon="chevron-circle-right"></fa-icon>
    </mat-icon>
  </button>  
  <div class="reload-text" *ngIf="invalid">
    Please click here to reload the data.
    <button mat-icon-button (click)="reloadChart()">
      <mat-icon>
        <fa-icon icon="redo"></fa-icon>
      </mat-icon>
    </button>
  </div>
  <div>
    <div *ngIf="!invalid">
      <canvas  baseChart [datasets]="data" [labels]="labels" [options]="barChartOptions"
        [legend]="legend" [chartType]="chartType">
      </canvas>
    </div>
      
  </div>
</div>