<form
  (submit)="searchQuery(searchFormControl.value)">
  <mat-form-field>
    <input matInput
           [formControl]="searchFormControl"
           placeholder="search..." >
    <mat-error *ngIf="!searchFormControl.hasError('required')">
      This is a required field
    </mat-error>
  </mat-form-field>
</form>
