<section class="dashboard">
  <h2>Search query</h2>
  <div class="dashboard__widgets-container">
    <div class="widgets-container__list" dragula="DRAGULA_FACTS">
      <iics-widget *ngFor="let widget of widgets" class="widget-item" 
                  [widgetData]="widget"
                  [ngStyle]="{'grid-column-end': 'span '+ widget.span}"
                  (onResize)="onResize($event)"
                  [chartType]="widget.type"></iics-widget>
    </div>
  </div>
</section>