@import '~@angular/material/theming';

.dashboard {
  &__widgets-container {
    .widgets-container__list {
      list-style: none;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
      margin: 0;
      padding: 0;
    }
  }
}
