<div class="footer">
<!--  <div class="row">-->
<!--    <div class="col-sm-12 links">-->
<!--      <a href="https://www.slides.com/tomastrajan" target="_blank">-->
<!--        <fa-icon icon="play-circle"></fa-icon>-->
<!--        <span>Slides</span>-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
  <div class="row">
    <div class="col-12 signature">
      &#169; <span class="year">{{year}}</span> - Team IICS
      <br class="d-block d-sm-none">
      <a [matTooltip]="'anms.footer.changelog' | translate"
         matTooltipPosition="before"
         href="https://bitbucket.org/jdincentro2/hackaton-frontend">
        <fa-icon icon="rocket"></fa-icon>
        {{version}} <span *ngIf="!isProd">[{{envName}}]</span>
      </a>
    </div>
  </div>
</div>
