@import '../../../styles-variables';

.toolbar {
  position: fixed;
  width: 100%;
  display: flex;
  z-index: 10;

  .nav-button {
    margin: 0 10px 0 0;
  }

  fa-icon {
    font-size: 24px;
  }

  .branding {
    cursor: pointer;
    overflow: hidden;
    padding-top: 4px;
    text-overflow: ellipsis;

    &.center {
      text-align: center;
    }

    img {
      position: relative;
      top: -2px;
      width: 48px;
      height: 48px;
    }
  }

  .mat-stroked-button {
    margin-right: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  mat-select {
    margin: 0 0 0 20px;
    width: 40px;
    font-size: 14px;
  }

  @media (max-width: map-get($grid-breakpoints, lg)) {
    .nav-button {
      min-width: 0;
      padding: 0 10px;
    }
  }
}

mat-sidenav {
  width: 250px;

  .branding {
    height: 64px;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: 500;

    img {
      height: 48px;
      margin: 2px 10px 0 0;
    }

    span {
      position: relative;
      top: 3px;
    }
  }

  .mat-nav-list {
    padding-top: 0;
  }
}
