<!--<mat-sidenav #sidenav mode="push">-->
<!--  <div class="branding"><img [src]="logo"/>-->
<!--    <span>{{ 'anms.title.short' | translate}}</span></div>-->
<!--  <mat-nav-list>-->
<!--    <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]"-->
<!--       routerLinkActive="active">-->
<!--      {{item.label | translate}}-->
<!--    </a>-->
<!--    <a mat-list-item href="https://github.com/tomastrajan/angular-ngrx-material-starter" target="_blank">-->
<!--      Github-->
<!--    </a>-->
<!--  </mat-nav-list>-->
<!--</mat-sidenav>-->

<div class="toolbar" [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'"
     [class.mat-elevation-z4]="(stickyHeader$ | async)">
  <mat-toolbar color="primary">
<!--    <button mat-icon-button class="d-md-none" (click)="sidenav.open()">-->
<!--      <fa-icon icon="bars"></fa-icon>-->

<!--    </button>-->

    <span routerLink="" class="branding spacer center d-inline d-sm-none">
            <img [src]="logo"/></span>
    <span routerLink="" class="branding spacer center d-none d-sm-inline d-md-none"><img [src]="logo"/>Team IICS</span>
    <span routerLink="" class="branding spacer d-none d-md-inline"><img [src]="logo"/>Team IICS</span>

    <span class="d-none d-md-inline">
<!--            <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"-->
<!--                    routerLinkActive="active">-->
<!--              {{item.label | translate}}-->
<!--            </button>-->
          </span>

    <!--    <button mat-button mat-stroked-button color="accent" *ngIf="!(isAuthenticated$ | async)" (click)="onLoginClick()">-->
    <!--      {{ 'anms.menu.login' | translate }}-->
    <!--    </button>-->

    <!--    <button *ngIf="(isAuthenticated$ | async)"-->
    <!--            mat-icon-button-->
    <!--            [matMenuTriggerFor]="toolbarUserMenu">-->
    <!--      <fa-icon icon="user-circle"></fa-icon>-->
    <!--    </button>-->
    <!--    <mat-menu #toolbarUserMenu="matMenu">-->
    <!--      <button mat-menu-item (click)="onLogoutClick()">-->
    <!--        <mat-icon><fa-icon icon="power-off"></fa-icon></mat-icon>-->
    <!--        <span>{{ 'anms.menu.logout' | translate }}</span>-->
    <!--      </button>-->
    <!--    </mat-menu>-->

    <iics-search></iics-search>

    <button mat-icon-button routerLink="settings" class="d-none d-sm-inline">
      <fa-icon icon="cog"></fa-icon>
    </button>

    <!--    <span *ngIf="language$ | async as language">-->
    <!--            <mat-select [ngModel]="language" (selectionChange)="onLanguageSelect($event)">-->
    <!--              <mat-option *ngFor="let l of languages" [value]="l">-->
    <!--                {{ l.toUpperCase() }}-->
    <!--              </mat-option>-->
    <!--            </mat-select>-->
    <!--          </span>-->
  </mat-toolbar>
</div>


